body {
    height: 100vh;
    margin: 0 0 0 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-size: cover;
    background-repeat: no-repeat;
  }

  main {
    max-height: 95vh;
  }

  .card {
    background-color: rgb(0,0,0, 0.9);
    border-radius: 2em;
  }
  
  .search-bar {
    border: none;
  }
  
  .btn:hover {
    background: #7c7c7c6b;
  }
  
  h1, h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }
  
  .description {
    text-transform: capitalize;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }
